<div class="container-scroller">
  <div class="page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <h2 class="text-center mb-4" style="color: white;">Ingresar</h2>
          <div class="auto-form-wrapper">
            <form [formGroup]="enigmaForm" (ngSubmit)="solveTheEnigma()">
              <div class="form-group text-center">
                <label class="label">Escribe aquí lo que quieres descifrar:</label>
                <div class="input-group">
                  <input formControlName="enigma" type="text" class="form-control" placeholder="Enigma a descifrar...">
                </div>
              </div>
              <br>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary submit-btn btn-block"
                  [disabled]="enigmaForm.invalid">DESCIFRAR</button>
              </div>
              <br>
              <div *ngIf="enigmaResult" class="form-group text-center" style="color: red;">
                <h1>{{enigmaResult}}</h1>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>

</div>
